/* this css file contains a responsive grid, upon which the layout is built. */
/* each box has its own background color to show layout. Feel free to remove them to work on styling.*/



/** 12-COLUMN RESPONSIVE GRID **/

/* clears any content after a row (so that new row = new section/ line)*/
.row::after {
    content: "";
    clear: both;
    display: block;
}

/* float all colums left*/
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/* basis: 100/12 =  8.33 */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/** PAGE LAYOUT **/

/*font styling is only to show structure (layout is vertically tiny without any content!).
  Delete when adding styling */
* {
  font-size: 32px;
  font-weight: bold;
}

* {
 box-sizing: border-box;
 /* includes padding and border in the height of the box. Use for consistency */
}

.header {
  background-color: red;
  margin: 0 auto;
  text-align: center;
}

.header-title{
  background-color: blue;
}

.description {
  background-color: green;
  text-align: center;
}

.description-text {
  background-color: pink;
}

.rqm-body {
  background-color: purple;
  text-align: center;
  margin-top: 10px;
}

.rqm-box {
  background-color: yellow;
}

.footer {
  background-color: green;
  text-align: center;
  margin-top: 10px;
}

.footer-text {
}
