/* this css file contains a responsive grid, upon which the layout is built. */

/** first, remove default styling: **/
html, body { margin: 0px; padding: 0px; border: 0px; }

/** 12-COLUMN RESPONSIVE GRID **/

/* clears any content after a row (so that new row = new section/ line)*/

.row::after {
    content: "";
    clear: both;
    display: block;
  height: auto; 
}

/* float all colums left*/
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* basis: 100/12 =  8.33 */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/** PAGE LAYOUT **/
* {
  font-size: 1.5em;
  font-family: 'Prociono', serif;
}

* {
 box-sizing: border-box;
 /* includes padding and border in the height of the box. Use for consistency */
}

.header {
  background-color: #037367;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.header-title{
  background-color: #037367;
  color: white; 
  font-variant: small-caps;
  font-size: 1.6em
}

.description {
  background-color: #037367;
  text-align: center;
}

.description-text {
  background-color: #037367;
  color: white;
}
.col-10 {
  padding: 0; 
}

.rqm-body {
  background-color: #037367;
  text-align: center;
  margin: auto;
}

.rqm-box {
  background-color: #7BD4CC;
  color: #00281F;
  border-radius: 10px;
  font-size: 1em; 
  padding: 0 5%;
}

.footer {
  background-color: #037367;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  font-size: 14px;
  font-style: italic;
  }

.footer-text {
  color: #00281F; 
    font-weight: normal;
}

button {
  font-family: Georgia;
  font-size: 18px;
  color: white;
  padding: 14px;
  background-color: #00281F;
  border: none;
  margin: auto;
  display:block;
  border-radius: 5px; 
}

button:hover {
    background-color: #7BD4CC;
    color: white;
}

.button-container {
    background-color: #037367;
}
